/* Headings */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

/* Spacing & alignment*/
table {
    margin: 5px;
}

.content { width: 1130px }

hr.rounded {
    border-top: 7px solid rgb(114, 92, 69);
    border-radius: 7px;
    opacity: 0.8;
}

.exports_time {
    padding-left: 60px;
}

#export_zoom {
    padding-left: 60px;
}

#importers_title {
    padding-top: 50px;
}

#export_main {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#flavour {
    padding-top: 80px;
}

.vert {
    padding-top: 10px;
    padding-bottom: 10px;
}
